*::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
  "image sidebar"
  "slider sidebar";
  height: 100vh;
  width: 100vw;
  background-color: #DADADA;
}

.main-image{
  grid-area: image;
  background-image: url('./images/sharingan.PNG');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 100%;
  height: 100%;
}

.sidebar{
  grid-area: sidebar;
  background-color: hsl(265, 100%, 86%);
  border-left: 2px solid hsl(265, 100%, 56%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.slider-container{
  grid-area: slider;
  background: black;
  margin-top: 2rem;
  padding: 2rem;
}

.sidebar-item{
  cursor: pointer;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 1rem;
  position: relative;
  transition: all 0.15s ease-in-out;
}

.sidebar-item.active{
  background-color:hsl(265, 100%, 70%)
}

.sidebar-item:hover, .sidebar-item:focus{
  background-color:hsl(265, 100%, 76%);
  color: black;
}
.slider{
  width: 100%;
  cursor: pointer;
}

